{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    {% include "translation.html" %}
   <h1>{% trans 'All posts' %}</h1>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="{% trans 'Search' %}" />
   </form>
   <h3>{{ time_now|date:'M d Y' }}</h3>
       {% if perms.news.add_post %}
            <a href="{% url 'news_create' %}">{% trans 'Add news' %}</a>
       {% endif %}

        {% if perms.news.add_post %}
            <a href="{% url 'articles_create' %}">{% trans 'Add article' %}</a>
        {% endif %}
       {% if posts %}
       <table>
           <tr>
               <td>{% trans 'title' %}</td>
               <td>{% trans 'category post' %}</td>
               <td>{% trans 'text post' %}</td>
               <td>{% trans 'date' %}</td>


                {% if perms.news.change_post or perms.news.delete_post or perms.articles.change_post or perms.articles.delete_post%}

                {% endif %}
           </tr>


           {% for post in posts %}
           <tr>
               <td>{{ post.titlePost|censor  }}</td>
               <td>{{ post.choicePost }}</td>
               <td>{{ post.textPost|truncatechars:20|censor  }}</td>
               <td>{{ post.dataPost }}</td>
           </tr>
                <td>
                    {% if post.choicePost == 'NW' %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'news_update' pk=post.id %}">{% trans 'Edit' %}</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'news_delete' pk=post.id %}">{% trans 'Delete' %}</a>
                        {% endif %}
                    {% elif post.choicePost == 'AR' %}
                        {% if perms.news.change_post %}
                            <a href="{% url 'articles_update' pk=post.id %}">{% trans 'Edit' %}</a>
                        {% endif %}
                        {% if perms.news.delete_post %}
                            <a href="{% url 'articles_delete' pk=post.id %}">{% trans 'Delete' %}</a>
                        {% endif %}
                    {% endif %}

                </td>
           {% endfor %}

       </table>
   {% else %}
       <!-- Если товаров нет, говорим, что товаров нет ;) -->
       <h2>{% trans 'No posts!' %}</h2>
   {% endif %}
    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}